.login {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-top: 150px;
    background-color: #537626;
}
header{
    width: 100%;
    height: 100px;
    background-color: #537626;
    padding-top: 35px;
}
.meni{
    height: 50px;
    font-size: large;
    color: #ffffff;
}
.meni a{
    text-decoration: none;
    color: white;
}
.meni li{
    margin-left: 2px;
    display: inline;
    list-style-type: none;
}

.errorlist {
    list-style-type: none;
    text-align: right;
    color: #000000;
}

.odjava {
    float: right;
    margin-right: 40px;
}

.odjava li {
    padding: 7px;
    transition: background-color 0.3s;
    border-radius: 3px;
}

.odjava li:hover {
    background-color: hsla(0,0%,0%,0.3);
}

.meninav {
    float: left;
    margin-top: -10px;
}

.meninav li {
    padding: 7px;
    transition: background-color 0.3s;
    border-radius: 3px;
}

.meninav .links:hover {
    background-color: hsla(0,0%,0%,0.3);
}

.izbraniPredmeti {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

.potrdilo{
    margin: 0 auto;
    width: 900px;
    padding: 40px;
    border-radius: 3px;
}

.obvestilo{
    margin: 0 auto;
    width: 900px;
    margin-top: 15px;
    margin-bottom: 15px;
}