{% include "estudis/header.html" %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 style="text-align: center;">Dodajanje študentov iz datoteke</h1>
    </div>
</div>
<form action="/add_students/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-4 col-md-offset-4">
        <p>{{ form.ime_dokumenta.label_tag }}</p>
        <p>
            {{ form.ime_dokumenta.errors }}
            {{ form.ime_dokumenta }}
        </p>
        <p><input type="submit" value="Dodaj študente" class="btn btn-success" /></p>
    </div>

</form>

<script>alert("Dodanih: "+{{ feedback.0 }} +" Duplikati: " + {{ feedback.1 }});</script>
