{% include "estudis/header.html" %}
<div class="alert alert-success obvestilo" role="alert">Uspešno ste potrdili vpis študenta {{ student.0.ime  }}. </div>
<div class="jumbotron potrdilo">

  <h1>Potrdilo o vpisu</h1>
  <p>Ime in priimek:  {{ student.0.ime  }} {{ student.0.priimek }} </p>
  <p>Vpisna številka:  {{ student.0.vpisna }}  </p>
  <p>Je v šolskem letu:  {{ vpis_studenta.studijsko_leto }}</p>
  <p>vpisan v letnik:  {{ vpis_studenta.letnik }}</p>

  <button style="float: right" type="button" id="printaj" title="Potrdi vpis" onclick="window.location.href='/referentka_feed/{{ student.0.vpisna }}/render_certificat/6/'" class="btn btn-default" >
    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Natisni potrdila
  </button>
  <div class="col-md-2" style="float: right">
  <select class="target form-control" id="drop">
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6" selected="selected">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
  </select>
  </div>
</div>

<script>
    $("#drop").change(function () {
       //var stev_potrdil = this.text();
        var stev_potrdil = $("#drop").val();
       var string =  "window.location.href='/referentka_feed/{{ student.0.vpisna }}/render_certificat/"+ stev_potrdil + "/'";
       $("#printaj").attr("onclick", string);
    });
</script>