{% include 'estudis/header.html' %}

<h1>Izbris izpitnega roka</h1>
{{ ir }}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="submit" value="Izbriši izpitni rok" class="btn btn-success" /></p>
</form>

{% if feedback != '' %}
    {{ feedback }}
{% endif %}