{% include 'estudis/header.html' %}

<h1>Urejanje izpitnega roka</h1>
{{ ir }}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Uredi izpitni rok" class="btn btn-success" /></p>
</form>

{% if feedback != '' %}
    {{ feedback }}
{% endif %}