{% include "estudis/header.html" %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 style="text-align: center;">Dodajanje izpitnega roka</h1>
    </div>
</div>
<form action="/exam_entry/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-4 col-md-offset-4">
        {{ form.as_p }}
        <p><input type="submit" value="Dodaj izpitni rok" class="btn btn-success" /></p>
        {% if feedback.0 != '' %}
        <p>Dodan izpitni rok: {{ feedback.0 }}, {{ feedback.1 }}</p>
        {% endif %}
    </div>
</form>