{% include "estudis/header.html" %}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 style="text-align: center;">Urejanje izpitnih rokov</h1>
    </div>
</div>

<div class="col-md-4 col-md-offset-4">
    <h2>Izpitni roki brez prijav</h2>
    {% for ir_bp in ir_brez_prijav %}
        <td>{{ ir_bp.predmet }}</td>
        <td>{{ ir_bp.datum }}</td>
        <button type="button" id="{{ ir_bp.idizpitni_rok }}" title="Izbriši izpitni rok" onclick="window.location.href='/exam_term_find/{{ ir_bp.idizpitni_rok }}/exam_term_delete/'" class="btn btn-default" >
            <span>Izbriši</span>
        </button>
        <button type="button" id="{{ ir_bp.idizpitni_rok }}" title="Uredi izpitni rok" onclick="window.location.href='/exam_term_find/{{ ir_bp.idizpitni_rok }}/exam_term_edit/'" class="btn btn-default" >
            <span>Uredi</span>
        </button>
        <br/>
    {% endfor %}
</div>

<hr/>

<div class="col-md-4 col-md-offset-4">
    <h2>Izpitni roki s prijavami</h2>
    {% for ir_p in ir_prijavljeni %}
        <td>{{ ir_p.predmet }}</td>
        <td>{{ ir_p.datum }}</td>
        <button type="button" id="{{ ir_p.idizpitni_rok }}" title="Izbriši izpitni rok" onclick="window.location.href='/exam_term_find/{{ ir_p.idizpitni_rok }}/exam_term_delete/'" class="btn btn-default" >
            <span>Izbriši</span>
        </button>
        <button type="button" id="{{ ir_p.idizpitni_rok }}" title="Uredi izpitni rok" onclick="window.location.href='/exam_term_find/{{ ir_p.idizpitni_rok }}/exam_term_edit/'" class="btn btn-default" >
            <span>Uredi</span>
        </button>
        <br/>
    {% endfor %}
</div>