{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'estudis/CSS/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'estudis/CSS/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'estudis/CSS/tipsy.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'estudis/javascript/jquery.tipsy.js' %}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<header>
    <div class="meni">
        <ul class="meninav">
            <li><a href="/"><img src="/static/estudis/Photos/estudis.png" width="50px"></a></li>
            {% if request.session.logged_in %}
            {# <li class="links"><a href="/search/">Iskanje študenta</a></li>  #}
                {% if request.session.role == "referentka"  %}
                    <li class="links"><a href="/student_list_choice/">Seznam vpisanih</a></li>
                    <li class="links"><a href="/add_students/">Dodaj študente</a></li>
                    <li class="links"><a href="/referentka_feed/">Pregled</a></li>
                    <li class="links"><a href="/exam_entry/">Dodajanje izpitnega roka</a></li>
                    <li class="links"><a href="/exam_term_find/">Urejanje izpitnega roka</a></li>
                {% elif request.session.role == 'student' %}
                    <li class="links"><a href="/personal_information">Vpis</a></li>
                {% endif %}
            {% endif %}
        </ul>
        {% if request.session.logged_in %}
        <ul class="odjava">
            {% if request.session.role == "referentka" %}
                    Pozdravljena <b>referentka</b>.
            {% elif request.session.role == "profesor" %}
                    Pozdravljen <b>profesor</b>.
            {% else %}
                    Pozdravljen <b>študent</b>.
            {% endif %}
            <li><a href="/login/">Odjava</a></li>
        </ul>
        {% endif %}
    </div>
</header>