<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Prijava</title>

</head>

<body>
    {% include "estudis/header.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 login">
                <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}
                    {{ form_login.as_p }}
                    <div class="form-group">
                        <div class="col-md-offset-3">
                            <button type="submit" name="login" class="btn btn-success">Vstop</button>
                            <button type="button" class="btn btn" data-toggle="collapse" data-target="#demo">Pozabljeno geslo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="demo" class="collapse">
            <div class="row" style="margin-top:40px;">
                <div class="col-md-4 col-md-offset-4">
                    <form method="post" action="">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form_reset.as_p }}
                        </div>
                        <button type="submit" name="password-reset" class="btn btn-warning">Pošlji novo geslo!</button>
                    </form>
                </div>
            </div> <!-- konec vrstice -->
        </div>
    </div>
</body>
</html>