{% include "estudis/header.html" %}

<div class="col-md-10 col-md-offset-1" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 style="text-align: center; margin-bottom: 30px;">Izbirni predmeti</h1>
        </div>
    </div>
    <form action="/izbirni_predmeti/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <span>Izberete lahko maksimalno 2 modula.</span>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">   <!-- zacetek prvega panela -->
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            {{ prvimodul.name }}
                                    </a>
                                    <input type="checkbox" value="" name="choices" style="float: right;" id="check" class="parent" onchange="checkBox(this)">
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul>
                                        {% for predmet in predmeti %}
                                            {% if predmet.idmodul.idmodul == prvimodul.idmodul %}
                                            <li>
                                                {{ predmet.naziv }}
                                                <input type="checkbox" value="" name="choices" style="float: right;" id="check" class="children0" disabled readonly>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- konec panela -->
                    {% for modul in moduli %}
                    <div class="panel panel-default">
                       <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                           <h4 class="panel-title">
                               <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                   {{ modul.name }}
                               </a>
                               <input type="checkbox" value="" name="choices" style="float: right;" id="check" class="parent" onchange="checkBox(this)">
                           </h4>
                       </div>
                       <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                           <div class="panel-body">
                               <ul>
                                   {% for predmet in predmeti %}
                                       {% if predmet.idmodul.idmodul == modul.idmodul %}
                                            <li>
                                                {{ predmet.naziv }}
                                                <input type="checkbox" value="" name="choices" style="float: right;" id="check" class="children{{ forloop.parentloop.counter }}" disabled readonly>
                                            </li>
                                       {% endif %}
                                   {% endfor %}
                               </ul>
                           </div>
                       </div>
                   </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 izbraniPredmeti">
                <span>Izberete lahko predmete v skupnem seštevki 6 KT.</span>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">   <!-- zacetek prvega panela -->
                        <div class="panel-heading" role="tab" id="headingFree">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFree" aria-expanded="true" aria-controls="collapseFree">
                                        Prosto izbirni predmeti
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFree">
                            <div class="panel-body">
                                <ul>
                                    {% for prosto in prosto_izbirni %}
                                    <li>
                                        {{ prosto.naziv }} (<span class="spanKrediti">{{ prosto.st_kreditov }}</span> KT)
                                        <input type="checkbox" value="" name="choices" onchange="checkChild(this)" style="float: right;" id="check" class="child_prosto">
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div> <!-- konec panela -->
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var parentChecked=0;
    function checkBox(obj) {
        parentChecked = 0;
        var parent = document.getElementsByClassName("parent");
        for (var i = 0; i < parent.length; i++) {
            if (parent[i].checked) {
                var children = document.getElementsByClassName("children" +i);
                console.log(children.length);
                for (var j = 0; j < children.length; j++) {
                    children[j].checked = true;
                }
            } else {
                var children = document.getElementsByClassName("children" +i);
                for (var j = 0; j < children.length; j++) {
                    children[j].checked = false;
                }
            }
        }
        for (var j=0; j < parent.length; j++) {
            if (parent[j].checked) {
                parentChecked++;
            }
        }
        if (parentChecked == 2) {
            for (var k=0; k<parent.length; k++) {
                if (!parent[k].checked) {
                    parent[k].disabled = true;
                }
            }
        } else {
            for (var k=0; k<parent.length; k++) {
                parent[k].disabled = false;
            }
        }
    }

    function checkChild(obj) {
        var kt=0;
        var child_prosto = document.getElementsByClassName("child_prosto");
        var spans = document.getElementsByClassName("spanKrediti");

        for (var i=0; i<child_prosto.length; i++) {
            if(child_prosto[i].checked) {
                var temp = parseInt(spans[i].innerHTML);
                kt += temp;
            }
        }
        if (kt == 6) {
            for (var k=0; k<child_prosto.length; k++) {
                if (!child_prosto[k].checked) {
                    child_prosto[k].disabled = true;
                }
            }
        } else if (kt > 6) {
            for (var k=0; k<child_prosto.length; k++) {
                child_prosto[k].checked = false;
            }
        } else {
            for (var k=0; k<child_prosto.length; k++) {
                child_prosto[k].disabled = false;
            }
        }
    }
</script>