{% include "estudis/header.html" %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 style="text-align: center;">Referentka - pregled</h1>
    </div>
</div>
<br />
<div class="col-md-6 col-md-offset-3">
    {%  if not vsi_potrjeni %}
    <table class="table">
        <caption>Nepotrjeni študenti</caption>
        <tr>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Potrdi vpis</th>
            <th>Potrdila</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.vpisna }}</td>
                <td>{{ student.ime }}</td>
                <td>{{ student.priimek }}</td>
                <td>
                    <script>
                         var rex = "#".concat({{ student.vpisna }});
                         $(rex).tipsy({gravity: 's'});
                    </script>
                    <button type="button" id="{{ student.vpisna }}" title="Potrdi vpis" onclick="window.location.href='/referentka_feed/{{ student.vpisna }}/confirm/'" class="btn btn-default" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>

                </td>
                <td>
                    <button type="button" id="potrdilo" title="Potrdilo o vpisu" onclick="window.location.href='/referentka_feed/{{ student.vpisna }}/print/'" class="btn btn-default" >
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
<div class="col-md-6 col-md-offset-3">
    <table class="table">
        <caption>Vpisani študenti</caption>
        <tr>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Potrdilo</th>
        </tr>
        {% for student in enrolled_students %}
            <tr>
                <td>{{ student.vpisna }}</td>
                <td>{{ student.ime }}</td>
                <td>{{ student.priimek }}</td>
                <td>
                    <button type="button" id="potrdilo" title="Potrdilo o vpisu" onclick="window.location.href='/referentka_feed/{{ student.vpisna }}/print/'" class="btn btn-default" >
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>

</div>

