<style type='text/css'>

    @font-face {
        font-family: "DejaVuSansMono";
        src: url("./fonts/ttf/DejaVuSansMono.ttf");
    }

    @font-face {
        font-family: "DejaVuSansMono";
        src: url("./fonts/ttf/DejaVuSansMono-Bold.ttf");
        font-weight: bold;
    }
    @font-face {
        font-family: "DejaVuSansMono";
        src: url("./fonts/ttf/DejaVuSansMono-Oblique.ttf");
        font-style: italic, oblique;
    }
    @font-face {
        font-family: "DejaVuSansMono";
        src: url("./fonts/ttf/DejaVuSansMono-BoldOblique.ttf");
        font-weight: bold;
        font-style: italic, oblique;
    }

    *, html {
        font-family: "DejaVuSansMono";
    }

</style>

<div>
    <div>
        <h1>Seznam vpisanih</h1>
    </div>
</div>

{% if display_list %}
    <table>
        <tr>
            <th>Zap. št.</th>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Vrsta vpisa</th>
        </tr>
        {% for student, vpis, i in iter_data %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ student.vpisna }}</td>
                <td>{{ student.ime }}</td>
                <td>{{ student.priimek }}</td>
                <td>{{ vpis.idvrsta_vpisa }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

</div>
