{% include "estudis/header.html" %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 style="text-align: center;">Podatki o študentu</h1>
    </div>
</div>

<div class="col-md-4 col-md-offset-4">
    <form method="post" action="" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default">Išči</button>
    </form>
    {% if display_list %}
    <table class="table">
        <tr>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Tel. številka</th>
            <th>e-mail</th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.vpisna }}</td>
                <td>{{ student.ime }}</td>
                <td>{{ student.priimek }}</td>
                <td>{{ student.telefonska }}</td>
                <td>{{ student.email }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <hr>

    {% if display_sklepi %}
        <h3 style="text-align: center;">Sklepi</h3>
            {% for sklep in sklepi %}
            <p>{{ sklep.besedilo }}</p>
        {% endfor %}

    {% endif %}


</div>
