{% include "estudis/header.html" %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 style="text-align: center;">Seznam vpisanih</h1>
    </div>
</div>

<div class="col-md-6 col-md-offset-3">

    <hr>
        <a href="/student_list/"><button class="btn btn-default">V predmet</button><a>
        <a href="/student_list_expanded/"><button class="btn btn-default">Drugi kriteriji</button></a>
    <hr>

</div>
