{% include "estudis/header.html" %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 style="text-align: center;">Seznam vpisanih</h1>
    </div>
</div>

<div class="col-md-6 col-md-offset-3">
    <form method="post" action="" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default">Izpiši</button>
    </form>
    {% if display_list %}
    <hr>
        <a href="/student_list_pdf/"><button class="btn btn-default">PDF</button><a>
        <a href="/student_list_csv/"><button class="btn btn-default">CSV</button></a>
    <hr>


    <table class="table">
        <tr>
            <th>Zap. št.</th>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Vrsta vpisa</th>
        </tr>
        {% for student, vpis, i in iter_data %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ student.vpisna }}</td>
                <td>{{ student.ime }}</td>
                <td>{{ student.priimek }}</td>
                <td>{{ vpis.idvrsta_vpisa }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>