<!DOCTYPE html>
<html>
<script type="text/javascript">
window.onload = function () { window.print(); }
</script>
<head>
    <title>{{ title|default:"Potrdilo o vpisu" }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {% block style_base %}
        {% comment %}
            See DEFAULT_CSS in https://github.com/chrisglass/xhtml2pdf/blob/master/xhtml2pdf/default.py
            for base style.
        {% endcomment %}

        {% block layout_style %}
            <style type="text/css">
                @page {
                    size: {{ pagesize|default:"A4" }};
                    margin-left: 2.5cm;
                    margin-right: 2.5cm;
                    margin-top: 2.5cm;
                    margin-bottom: 2cm;
                    @frame header {
                        -pdf-frame-content: page-header;
                        margin-top: 0.7cm;
                        margin-right: 2mm;
                        margin-bottom: 0cm;
                        margin-left: 1.2cm;
                    }
                    @frame footer {
                        -pdf-frame-content: page-footer;
                        bottom: 0cm;
                        margin-left: 1cm;
                        margin-right: 1cm;
                        height: 1cm;
                    }
                }
            </style>
        {%endblock%}
        {% block extra_style %}{% endblock %}
    {% endblock %}
</head>
<body>
    {%block content%}
        <hr />
         {% for potrdilo in potrdila %}
            <div>
              <h1>Potrdilo o vpisu</h1>
              <p>Številka potrdila: {{ potrdilo }}</p>
              <p>Ime in priimek:  {{ student.0.ime  }} {{ student.0.priimek }} </p>
              <p>Vpisna številka:  {{ student.0.vpisna }}  </p>
              <p>Je v šolskem letu:  {{ vpis_studenta.studijsko_leto }}</p>
              <p>vpisan v letnik: {{ vpis_studenta.letnik }}</p>
              <p stlye="float: right; ">Podpis referentke: _____________________</p>
            </div>
             <br />
             <hr />
         {% endfor %}
    {%endblock%}

</body>
</html>