<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Prijava</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'estudis/CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'estudis/CSS/style.css' %}">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 login">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Geslo</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Geslo">
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Zapomni si me
                                    </label>
                                </div>
                            </div>
                        </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Vstop</button>
                            <button type="button" class="btn btn" data-toggle="collapse" data-target="#demo">Pozabljeno geslo
                        </div>
                      </div>
                </form>
            </div>
        </div>
        <div id="demo" class="collapse">
            <div class="row" style="margin-top:40px;">
                <div class="col-md-4 col-md-offset-4">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Vnesite email naslov, kamor naj pošljemo novo geslo:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email naslov">
                        </div>
                        <button type="button" class="btn btn-warning">Pošlji novo geslo!</button>
                    </form>
                </div>
            </div> <!-- konec vrstice -->
        </div>
    </div>
</body>
</html>